<mat-grid-list cols="3" rowHeight="450px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-title>
                New Income
            </mat-card-title>
            <form #model="ngForm" (ngSubmit)="newIncome(model)">
                <mat-card-content>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Enter Amount</mat-label>
                        <input matInput placeholder="Amount in Rs." ngModel name="amount" type="number" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Enter Description</mat-label>
                        <input matInput placeholder="Description" ngModel name="description" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput ngModel name="date" type="datetime-local" required>
                    </mat-form-field>
                    <button class="example-full-width" type="submit" mat-button>
                     <mat-grid-list cols="3" class="height-max-content" rowHeight="3:1">
                            <mat-grid-tile></mat-grid-tile>
                            <mat-grid-tile> 
                                <mat-spinner diameter="20"  class="example-full-width"  *ngIf="show; else elseBlock">
                                </mat-spinner>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <ng-template #elseBlock>Submit</ng-template>
                    </button>
                </mat-card-content>
            </form>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>