<p>
    <mat-toolbar class="toolbar">
        <span>Money Manager</span>
        <span class="example-spacer"></span>
        <div *ngIf="accessToken; else elseBlock">
            <button mat-button class="username">
              {{username}}
            </button>
            <button mat-button (click)="handleLogOut()">
              LogOut
            </button>
        </div>
        <ng-template #elseBlock>
            <button mat-button routerLink="/register" routerLinkActive="active">
              Resgister
            </button>
            <button mat-button routerLink="/login" routerLinkActive="active">
              Login
            </button>
        </ng-template>

    </mat-toolbar>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</p>