<mat-grid-list cols="3" rowHeight="3:3">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-title>
                E-Mail Verified
            </mat-card-title>
            <form #model="ngForm" (ngSubmit)="registerUser(model)">
                <mat-card-content>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Enter Your Username</mat-label>
                        <input matInput placeholder="Username" ngModel name="username">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Enter Your Passowrd, length should be >=8</mat-label>
                        <input matInput placeholder="Password" type="password" ngModel name="password" (ngModelChange)="handleConfirmPassword(model)">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Confirm Your Passowrd</mat-label>
                        <input matInput placeholder="Confirm Password" type="password" name="confirmedPassword" [disabled]="confirmedPassword ? false :true" [(ngModel)]="password" (ngModelChange)="handleSubmit(model)">
                    </mat-form-field>
                    <button class="example-full-width" type="submit" mat-button [disabled]="submit ? false :true">
                    <mat-grid-list cols="3" class="height-max-content" rowHeight="3:1">
                            <mat-grid-tile></mat-grid-tile>
                            <mat-grid-tile> 
                                <mat-spinner diameter="20"  class="example-full-width"  *ngIf="show; else elseBlock">
                                </mat-spinner>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <ng-template #elseBlock>Submit</ng-template>
                    </button>
                </mat-card-content>
            </form>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>